[user]
	email = kapoor.vaidik@gmail.com
	name = Vaidik Kapoor
	signingkey = D32994C21BCB31BC

[alias]
    plog = log --pretty=format:\"%h - %an, %ar : %s\"
    graph = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    bmerge = "!f() { git merge --no-ff $1; }; f"
    pm = "pull --rebase origin master"

    gitignore-list = "! ~/.git-commands/git-gitignore-list"
    gitignore-add = "! ~/.git-commands/git-gitignore-add"
    deploy = "! ~/.git-commands/git-deploy"
[color]
	ui = true
